<div id="home-box">
<h1 class="scotify-logo">Scotify</h1>
<form action="/artist-search" method="GET">
        <input class="input-search" name="artist"/>
        <br>
        <button class="input-btn" type="submit">Search for an Artist</button>
</form>
</div>